<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PAGE_TITLE</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FORMAT_TYPE_RANDOM_GROUP_FOOTER</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_UNARY_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesUnary</string>
			<key>id</key>
			<string>BBRandomIncludesUnary</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_BINARY_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesBinary</string>
			<key>id</key>
			<string>BBRandomIncludesBinary</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_OCTAL_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesOctal</string>
			<key>id</key>
			<string>BBRandomIncludesOctal</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_DECIMAL_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesDecimal</string>
			<key>id</key>
			<string>BBRandomIncludesDecimal</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_HEXADECIMAL_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesHexadecimal</string>
			<key>id</key>
			<string>BBRandomIncludesHexadecimal</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_ROMAN_NUMERALS_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesRomanNumerals</string>
			<key>id</key>
			<string>BBRandomIncludesNumerals</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_PRIME_FACTORIZATION_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesPrimeFactorization</string>
			<key>id</key>
			<string>BBRandomIncludesPrimeFactorization</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_SCIENTIFIC_NOTATION_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesScientificNotation</string>
			<key>id</key>
			<string>BBRandomIncludesScientificNotation</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_ENGINEERING_NOTATION_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesEngineeringNotation</string>
			<key>id</key>
			<string>BBRandomIncludesEngineeringNotation</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_BINARY_ENGINEERING_NOTATION_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesBinaryEngineeringNotation</string>
			<key>id</key>
			<string>BBRandomIncludesBinaryEngineeringNotation</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>RANDOM_INCLUDES_BINARY_CUSTOM_FORMAT_SWITCH_LABEL</string>
			<key>key</key>
			<string>randomIncludesCustomFormat</string>
			<key>id</key>
			<string>BBRandomIncludesCustomFormat</string>
			<key>default</key>
			<true/>
		</dict>

	</array>
</dict>
</plist>
