<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PAGE_TITLE</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>TWEAK_ENABLED_SWITCH_LABEL</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>id</key>
			<string>BBTweakEnabled</string>
			<key>default</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>CONVERSION_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>conversionType</string>
			<key>id</key>
			<string>BBConversionType</string>
			<key>default</key>
			<string>6</string>
			<key>validTitles</key>
			<array>
				<!-- note ordering: keep custom and random last -->
				<string>CONVERSION_TYPE_LIST_ITEM_UNARY</string>
				<string>CONVERSION_TYPE_LIST_ITEM_BINARY</string>
				<string>CONVERSION_TYPE_LIST_ITEM_OCTAL</string>
				<string>CONVERSION_TYPE_LIST_ITEM_DECIMAL</string>
				<string>CONVERSION_TYPE_LIST_ITEM_HEXADECIMAL</string>
				<string>CONVERSION_TYPE_LIST_ITEM_ROMAN_NUMERALS</string>
				<string>CONVERSION_TYPE_LIST_ITEM_PRIME_FACTORIZATION</string>
				<string>CONVERSION_TYPE_LIST_ITEM_SCIENTIFIC_NOTATION</string>
				<string>CONVERSION_TYPE_LIST_ITEM_ENGINEERING_NOTATION</string>
				<string>CONVERSION_TYPE_LIST_ITEM_BINARY_ENGINEERING_NOTATION</string>
				<string>CONVERSION_TYPE_LIST_ITEM_CUSTOM_FORMAT</string>
				<string>CONVERSION_TYPE_LIST_ITEM_RANDOM_CONVERSION_TYPE</string>
			</array>
			<key>validValues</key>
			<array>
				<!-- note ordering: keep custom and random last -->
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>0</string>
				<string>99</string>
			</array>
			<key>staticTextMessage</key>
			<string>CONVERSION_TYPE_LIST_DESCRIPTION</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS_GROUP_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>UNARY_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBUnaryListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>BINARY_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBBinaryListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>OCTAL_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBOctalListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>DECIMAL_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBDecimalListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>HEXADECIMAL_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBHexadecimalListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ROMAN_NUMERAL_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBRomanNumeralsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>PRIME_FACTORIZATION_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBPrimeFactorizationListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SCIENTIFIC_NOTATION_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBScientificNotationListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ENGINEERING_NOTATION_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBEngineeringNotationListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>BINARY_ENGINEERING_NOTATION_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBBinaryEngineeringNotationListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>CUSTOM_FORMAT_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBCustomFormatListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>RANDOM_SETTINGS_LABEL</string>
			<key>detail</key>
			<string>BBRandomListController</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>COPYRIGHT_FOOTER</string>
		</dict>

	</array>
</dict>
</plist>
